.main-image {
  position: relative;
  background-image: url("/image/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-blend-mode: overlay;
  width: auto;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 500px;
  width: 100%;
  margin-top: 0;
  position: relative; */
}
.dev-bg {
  background: #fa447a;
}
.graphics-bg {
  background: #130f32;
}
.marketing-bg {
  background: #00a0c1;
}
.container-box {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
}

.container-team {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.our-team {
  background: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0px 25px;
  padding: 30px 70px;
}
.our-team.team-pic {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 0px;
  z-index: 1;
  position: relative;
}
.our-team .team-pic::before {
  content: "";
  height: 0;
  width: 100%;
  border-radius: 50%;
  background: #1785eb;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.2;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .team-pic::before {
  height: 100%;
}
.our-team .team-pic::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #1785eb;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.our-team .team-pic img {
  width: 100%;
  height: auto;
  /* border-radius: 50%; */
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
.our-team:hover .team-pic img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
/* .team-content {
  background-color: cyan;
} */
.heading {
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.heading-color {
  color: #252b42;
  font-family: Poppins;
}
.sec2-text {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: #3d566f;
  text-align: justify;
}
.text {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
  text-align: justified;
}
.color-block {
  position: relative;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 409px;

  background: #130f32;
}
.form-banner {
  background-image: url("/image/cover.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 500px;
  width: 100%;
}

.sizing {
  width: 250px;
  height: 250px;
}
.team-bg {
  background: #130f32;
}

footer {
  background-color: #000000;
}
.footer-copy-right {
  background-color: #130f32;
}

/* media query */
@media (max-width: 750px) {
  .container-team {
    flex-direction: column;
  }
  .our-team {
    width: 80%;
    margin-top: 30px;
  }
}
